---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
{%- if page.url and page.data.published != false and page.url not in ["/merci/", "/404.html"] and not page.url.startsWith("/admin") %}
  <url>
    <loc>https://lestudiodesign.fr{{ page.url }}</loc>
    <lastmod>{{ page.date.toISOString().slice(0, 10) }}</lastmod>
  </url>
{%- endif %}
{%- endfor %}
</urlset>
