<svg width="9" height="14" viewbox="0 0 9 14" aria-hidden="true" focusable="false" class="anti-arrow" style="animation-delay:0s"><path d="M1.5 1.5L7.5 7L1.5 12.5" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
<svg width="9" height="14" viewbox="0 0 9 14" aria-hidden="true" focusable="false" class="anti-arrow" style="animation-delay:.15s"><path d="M1.5 1.5L7.5 7L1.5 12.5" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
<svg width="9" height="14" viewbox="0 0 9 14" aria-hidden="true" focusable="false" class="anti-arrow" style="animation-delay:.3s"><path d="M1.5 1.5L7.5 7L1.5 12.5" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
